# User-specific files
[Pp]roject/*.suo
[Pp]roject/*.user
[Pp]roject/*.userosscache
[Pp]roject/*.sln.docstates

# Build results
[Pp]roject/[Dd]ebug/
[Pp]roject/[Dd]ebugPublic/
[Pp]roject/[Rr]elease/
[Pp]roject/[Rr]eleases/
[Pp]roject/x64/
[Pp]roject/x86/
[Pp]roject/build
[Pp]roject/bld
[Pp]roject/[Bb]in/
[Pp]roject/[Oo]bj/
